.cards-section {
    background-color: black;
    padding: 50px;
    height: 600px;
}

.cards-section h1 {
    margin-bottom: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.cards {
    display: flex;
    gap: 30px;
}

.card {
    background: black;
    padding: 20px;
    text-align: center;
    color: white;
    margin-left: 20px;
    box-shadow: 5px 10px 10px white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

