.hero {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hotel {
    height: 600px;
    width: 1520px;
    margin-left: 0px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);

}

.hero-content {
    position: relative;
    z-index: 5;
    max-width: 800px;
}

.hero .hero-content h1 {
    margin-top: -500px;
    margin-left: 100px;
    color: white;
    font-weight: 700;
    font-size: 3.2rem;

}

.hero-content p {
    font-size: 3.1rem;
    opacity: 1;
    margin-top: -10px;
    line-height: 1.6;
    margin-left: 100px;
}


.hero-buttons {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

.primary-btn {
    padding: 14px 28px;
    border: none;
    background: rgb(0, 0, 0);
    border: 1px solid #c9a15a;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    width: 250px;
}

.secondary-btn {
    padding: 14px 28px;
    background: rgb(0, 0, 0);
    color: white;
    border: 1px solid #c9a15a;
    cursor: pointer;
    border-radius: 6px;
    width: 250px;
}

.primary-btn:hover {
    background: linear-gradient(#b28c4d, #201705);
}

.secondary-btn:hover {
    background: linear-gradient(#b28c4d, #201705);
}