/* Full Page Background */
.auth-loginpage {
    min-height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.auth-logincard {
    width: 420px;
    background: #c9a15a;
    padding: 35px 30px;
    border-radius: 14px;
    box-shadow: 0 10px 20px white;
    text-align: center;
}

/* Heading */
.auth-logincard h2 {
    margin-bottom: 20px;
    color: #222;
}

/* Paragraph */
.auth-logincard p {
    font-size: 14px;
    margin-bottom: 15px;
    color: white;
}

/* ================= INPUTS ================= */

/* Login input */
.auth-inputa,
.auth-inputb,
.auth-inputc {
    width: 350px;
    height: 45px;
    padding: 0 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
    margin-left: 0px;
    background-color: black;

}

.auth-inputa:focus,
.auth-inputb:focus,
.auth-inputc:focus {
    border-color: #c9a15a;
}

/* ================= BUTTONS ================= */

.auth-ba,
.auth-bb,
.auth-bc {
    width: 380px;
    height: 45px;
    background:black;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-ba:hover,
.auth-bb:hover,
.auth-bc:hover {
    opacity: 0.9;
    background-color: #c9a15a;
    border: 2px solid black;
}

/* Links */
.auth-forgot,
.auth-click,
.auth-logincard a {
    color: #6f63c2;
    text-decoration: none;
    font-weight: 500;
}

.auth-logincard a:hover {
    text-decoration: underline;
}